[submodule "conductor/conductor"]
	path = conductor/conductor
	url = https://github.com/primoia/conductor.git
[submodule "conductor/conductor-gateway"]
	path = conductor/conductor-gateway
	url = https://github.com/primoia/conductor-gateway.git
[submodule "conductor/conductor-web"]
	path = conductor/conductor-web
	url = https://github.com/primoia/conductor-web.git
